<h1>Dashboard for Analytics of this Site</h1>

<div>Bronze!</div>
<div>Unique Visitors: <%= @total_visitors %></div>
<div>Number of Visits: <%= @visits %></div>
<div>Number of Page Views: <%= @page_views %></div>
